# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = "Hampus Fristedt"
	email = "hampus.fristedt93@gmail.com"
[push]
	default = simple
  autoSetupRemote = true

[credential]
	helper = cache --timeout=3600

[credential "https://github.com"]
	username = fristedt
[diff]
	tool = nvim -d
[difftool]
	prompt = false
[alias]
	d = difftool
[pull]
	rebase = true
